<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
    <h2>Admin Login</h2>

    <form action="/adminDashboard" method="get">
        <input type="text" placeholder="Admin Username" required>
        <input type="password" placeholder="Admin Password" required>

        <button class="btn-admin" type="submit">Login</button>
    </form>
	<label>CAPTCHA: <b th:text="${captchaQuestion}"></b></label>
	<input type="text" name="captcha" placeholder="Enter answer" required>


    <a class="link" href="/">Back to Home</a>
</div>

</body>
</html>
